{% extends "base.html" %}
{% load static %}
  {% block title %}Pet List{% endblock title %}
  {% block content %}
  <br>
  <div class="row">
	{% for pet in pets %}
	<div class="col-md-4">
		<div class="card my-4" style="width: 18rem;">
			{%if pet.image %}
			  <img  src="{{ pet.image.url}}" class="card-img-top">
			{% else %}
			<img  src="{% static 'noimage.png' %}" class="card-img-top">
			{% endif %}
			  <div class="card-body">
			  	<h5 class="card-title">{{pet.name}}</h5>
			  	<p class="card-text">{{pet.age}} years old</p>
			  	<p class="card-text">{{pet.price}} KD</p>
			  	<a href="{{pet.get_absolute_url}}" class="btn btn-primary">Read more</a>
	</div>
</div>
</div>
	{% endfor %}
</div>

{% endblock content %}

